body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0px;
    background-color:#101010;
}

.gameContainer{
    display: grid;
    grid-template-areas: 
    'playerInput'
    'playerGameBoard'
    'playerGameBoard';
    height: 90vh;
    width: 90vw;
}
.gameContainer > div{
    padding: 20px;
}

.item1 {
    grid-area: playerInput;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item1>* {
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    color:white;
}

.item1>input[type="button"] {
    height: 30px;
    box-shadow: 2px 2px 2px 2px;
    width:30%;
    background-color:cornflowerblue;
}

.item2{
    grid-area: playerGameBoard;
    display: grid;
    grid-template-areas: 
    'pieceOne pieceTwo'
    'pieceThree pieceFour';
    grid-gap: 20px;
}

.gamePieces{
    min-height: 125px;
    opacity: .25;
}

.gamePiece1{
    grid-area: pieceOne;
    border-top-left-radius: 50%;
}

.gamePiece2 {
    grid-area: pieceTwo;
    border-top-right-radius: 50%;
}

.gamePiece3{
    grid-area: pieceThree;
    border-bottom-left-radius: 50%;
}

.gamePiece4{
    grid-area: pieceFour;
    border-bottom-right-radius: 50%;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

.show{
   animation: show 1s;
}

@keyframes show{
    to{
        opacity: 1;
        transform: scale(1.05)
    }
}

@media only screen and (min-width:720px){
    .gameContainer{
        height: 85vh;
        width: 75vw;
    }
}

@media only screen and (min-width:1024px){
    .gameContainer{
        height: 75vh;
        width: 50vw;
    }
}
